<% layout("/layouts/boilaplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 ">
            <div class="offset-1">
            <h3 ><%= listing.title %></h3> 
            <div class="card col-8 mt-4" style="transform: none;" >
            <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fno-copyright&psig=AOvVaw0H8TVpbvclUkhx5c9vpw2c&ust=1747644423954000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMCFzP7QrI0DFQAAAAAdAAAAABAE">
            </div>
            </div>
            <div class="offset-1 mt-3">
            <p>
                <b>Description : </b><%= listing.description %> <br>
                <b>Price : </b><%= listing.price.toLocaleString() %> / Night <br>
                <b>Location : </b><%= listing.location %> <br>
                <b>Country : </b><%= listing.country %>
            </p>
        </div>
    </div>
    </div>

    <div class="row mb-3 mt-0">
    <form action="/listing/<%=listing._id %>/edit" class=" col-1" method="get">
        <button class="btn btns">Edit</button>
    </form>
    <form action="/listing/<%=listing._id %>?_method=DELETE" class=" col-1" method="post">
        <button class="btn btns">Delete</button>
    </form>
    </div>
    <hr>
    <div class="col-8 offset-2">
        <h4 class="mb-3">Reviews : </h4>
        <form action="/listing/<%=listing._id %>/reviews" method="POST">
            <div class="mt-2 mb-3">
                <label for="rating">Rating </label>
                <input name="Review[rating]" min="1" max="5" type="range" class="form-range" id="rating">

                <label for="comment" class="form-label">Comment:</label>
                <textarea name="Review[comment]" class="form-control" rows="3" id="comment" placeholder="Please leave a comment " name="comment" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-offset-blue mb-2">Submit</button>
        </form>
    </div>
    <hr>
        <%if(listing.Reviews.length === 0) {%>
            <h5 class="offset-2">No reviews yet.</h5>
        <%}
        else {%>
            <h4 class="offset-2">Reviews : </h4>
        <%}%>
        <div class="row">
        <% for(review of listing.Reviews) { %>
            <div class="row col-5 ms-3">
                <div style="border: 1px solid #ccc; border-radius: 5px;">
                        <div class="row col-5">
                            <p><%= review.createdAt.toString().split(" ").slice(0,4).join(" ") %></p>
                                <form action="/listing/<%=listing._id %>/reviews/<%=review._id%>?_method=DELETE" method="post">
                                    <button class="btn"><i class="fas fa-trash-alt"></i></button>
                                </form>
                        </div>
                    
                    <p><%= review.comment %></p>
                    <p><%= review.rating %> &starf;</p>
                    <div class="offset-5"><p><%= review.createdAt.toString().split(" ")[4]%></div>
                    <div >
                        <button class="btn" style="border: none;"><i class="fa fa-thumbs-up"></i></button>
                        <button class="btn"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                </div>
            </div>
        <%}%>
        </div>
        
    
    
    
</body>

